body{
	text-align: center;
	background-color: blue;
}
h3{
	font-size: 35px;
	background-color: black;
	color: blue;
}
input{
	width: 600px;
	text-align: center;
}
input[name="empresa"]{
	width: 300px;
}
textarea{
	height: 100px;
	width: 700px;
}